.spaced_catalogue {
    margin-top: 100px;
    text-align: center;
  }

.column_catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    min-height: 300px;
}