.spaced_catalogue {
    margin-top: 100px;
    text-align: center;
  }

.column_catalogue {
margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    min-height: 300px;
}

.card-time {
  float: right;
  color: #888;
  font-size: 12px;
  margin-top: -30px;
}

.btn:hover {
  border-color: #007bff;
  background-color: #eef2ff;
  color: #0056b3;
}